@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
@import 'reset.scss';
@import 'sub_page/sub_page.scss';
@import "sub_page/community.scss";
@import "sub_page/department.scss";
@import "sub_page/gallery.scss";
@import "sub_page/location.scss";
@import "sub_page/youtube.scss";
@import "sub_page/join.scss";
@import "sub_page/login.scss";

// 돌아가는 애니메이션
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
// 오른쪽으로 이동하는 애니메이션
@keyframes moveRight {
    0% {transform: translateX(0px); opacity: 1;}
    25% {transform: translateX(200px); opacity: 1;}
    50% {transform: translateX(250px); opacity: 0;}
    75% {transform: translateX(-200px); opacity: 0;}
    100% {transform: translateX(0px); opacity: 1;}
}
// 2번 뉴스 바퀴 animation
@keyframes wheelAni {
    0% {
        transform: translateX(0px) rotateZ(0deg); opacity: 1;
    }
    25% {
        transform: translateX(200px) rotateZ(360deg); opacity: 1;
    }
    50% {
        transform: translateX(250px) rotateZ(720deg); opacity: 0;
    }
    75% {
        transform: translateX(-200px) rotateZ(1080deg); opacity: 0;
    }
    100% {
        transform: translateX(0px) rotateZ(1440deg); opacity: 1;
    }
}
// 오른쪽위로 이동하는 애니메이션
@keyframes moveRightTop {
    0% {
        transform: translateX(0px) translateY(0px); opacity: 1;
    }
    25% {
        transform: translateX(200px) translateY(-25px); opacity: 1;
    }
    50% {
        transform: translateX(250px) translateY(-50px); opacity: 0;
    }
    75% {
        transform: translateX(-200px) translateY(50px); opacity: 0;
    }
    100% {
        transform: translateX(0px) translateY(0px); opacity: 1;
    }
}
// 오른쪽아래로 이동하는 애니메이션
@keyframes moveRightBottom {
    0% {
        transform: translateX(0px) translateY(0px); opacity: 1;
    }
    25% {
        transform: translateX(200px) translateY(100px); opacity: 1;
    }
    50% {
        transform: translateX(250px) translateY(100px); opacity: 0;
    }
    75% {
        transform: translateX(-200px) translateY(-100px); opacity: 0;
    }
    100% {
        transform: translateX(0px) translateY(0px); opacity: 1;
    }
}

body {
    background: #eee;
}

#background {
    background: rgba(0, 0, 0, 0.3);
}

#header {
    width: 100%;

    .inner {
        width: 1180px; height: 120px; margin: 0px auto;
        position: relative;  padding: 0px 50px;

        h1 {
            position: absolute; bottom: 10px; 

            a {
                font: normal 25px/1 'roboto'; color: #000;
            }
        }
        #gnb {
            position: absolute; bottom: 5px; right: 20%;

            li {
                float: left; margin-right: 10px;

                &:last-of-type {margin-right: 0px;}
                a {
                    display: block; width: 120px; height: 40px;
                    font: bold 14px/40px 'open sans'; color: #000;
                    text-align: center; transition: 0.3s;
                    border-bottom: 2px solid transparent;

                    &:hover {
                        border-bottom: 2px solid orangered;
                    }
                }
            }
        }
        .util {
            position: absolute; top: 20px; right: 0px;

            li {
                float: left; margin-right: 10px; padding-right: 10px;
                position: relative;

                &::after {
                    content: ''; display: block;
                    width: 1px; height: 12px; background: #777;
                    position: absolute; right: 0px; top: 50%;
                    margin-top: -5px;
                }
                &:last-of-type {
                    margin-right: 0px;

                    &::after {
                        display: none;
                    }
                }
                &:hover a {
                    color: #777;
                }
                a {
                    width: 100%; height: 100%;
                    font: 14px/1 'open sans'; color: #000;
                    letter-spacing: 1px;
                }
            }
        }
        /* 모바일 메뉴 & 햄버거 버튼 */
            /* 햄버거 버튼 */
        .callBtn {
            width: 20px; height: 20px; position: absolute;
            top: 25px; right: 30px; display: none;

            &::before {
                content: ''; display: block; width: 100%; height: 2px; background: #000;
                position: absolute; top: 0px; left: 0px;
            }
            &::after {
                content: ''; display: block; width: 100%; height: 2px; background: #000;
                position: absolute; bottom: 0px; left: 0px;
            }

            span {
                display: block; width: 100%; height: 2px; background: #000;
                position: absolute; top: 50%; left: 0px; margin-top: -1px;
                text-indent: -99999px;
            }

            &.on {
                &::before {
                    top: 50%; margin-top: -1px; transform: rotate(45deg);
                }
                &::after {
                    bottom: 50%; margin-bottom: -1px; transform: rotate(-45deg);
                }

                span {
                    transform: translateX(100%); opacity: 0;
                }
            }
        }
            /* 모바일 메뉴 */
        .menuMo {
            width: 270px; height: 100vh; background: lightblue;
            position: fixed; top: 0px; left: -270px;
            padding: 35px 30px; z-index: 10; transition: all 0.5s;

            &.on {
                left: 0px;
            }

            h1 {
                padding-bottom: 30px; border-bottom: 1px solid #aaa;

                a {
                    display: block; font: bold 24px/1 'arial'; color: #555;
                    text-align: center; margin-bottom: 20px;
                }
                span {
                    display: block; font-size: 12px; color: #777; text-align: center;
                }
            }

            #gnbMo {
                height: 40%; transform: translateY(50%);
                display: flex; flex-direction: column-reverse;
                justify-content: space-around;
                li {
                    a {
                        display: block;
                        width: 100%; padding: 20px 0px;
                        border-bottom: 2px solid #888;
                        font: bold 14px/1 'arial'; color: #555; text-align: center;
                    }
                    &:hover a {
                        border-bottom: 2px solid orangered; transition: 0.5s;
                        color: orangered;
                    }
                }
            }
            #login {
                width: 75%;
                position: absolute; bottom: 30%;
                display: flex; flex-direction: row;
                justify-content: space-around;
                li {
                    float: left; margin-right: 2%;
                    a {
                        display: block; width: 100px; height: 20px;
                        font: bold 14px/1 'arial'; color: #555; text-align: center;
                    }
                    &:hover a {
                        color: #aaa;
                    }
                    &::after {
                        content: ''; display: block; width: 2px; height: 100%;
                        position: absolute; top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                        background: #aaa;
                    }
                    &:nth-of-type(2) {
                        &::after {display: none;}
                    }
                }
            }
        }
    }
}

#visual {
    width: 100%; overflow: hidden;

    .inner {
        width: 1180px; height: 85vh; margin: 0px auto;
        padding: 50px 0px; position: relative;

        h2 {
            font: 23px/1 'roboto'; color: #fff;
            position: absolute; top: 35%; left: 50%; z-index: 2;
            transform: translate(-50%);
        }
        h3 {
            font: bold 100px/1 'open sans'; color: #fff;
            position: absolute; top: 40%; left: 50%; z-index: 2;
            transform: translate(-50%);
        }
        a {
            display: block; width: 150px; height: 50px; border: 2px solid #fff;
            position: absolute; top: 57%; left: 50%; z-index: 3;
            transform: translate(-50%);
            font: bold 16px/45px 'open sans'; color: #fff; text-align: center;
            transition: 0.5s;

            &:hover {
                border: 2px solid #777;
            }
        }
        .wrap {
            width: 100%;

            img {
                width: 100%; height: 100%; object-fit: cover;
                position: absolute; top: 0px; left: 0px;

                &:nth-of-type(1) {
                    width: 80%; height: 80%;
                    top: 10vh; left: 6vw;
                }
                &:nth-of-type(2) {
                    top: 0px; left: 0px; z-index: 2;
                }
                &:nth-of-type(3) {
                    width: 300px; height: 300px; object-fit: contain;
                    top: 11%; left: 9%;
                    z-index: 3;
                    &[data-index="1"] {
                        transition-duration: 4s;
                    }
                }
                &.upBallon {
                    width: 100px; height: 100px; object-fit: contain;
                    position: absolute; transition: 1s; opacity: 0;

                    &[data-index="1"] {
                        top: 100%; left: 70%; transition-duration: 3s;
                    }
                    &[data-index="2"] {
                        top: 100%; left: 40%; transition-duration: 2s;
                    }
                    &[data-index="3"] {
                        top: 100%; left: 20%; transition-duration: 3s;
                    }
                    &[data-index="4"] {
                        top: 100%; left: 50%; transition-duration: 4s;
                    }
                    &[data-index="5"] {
                        top: 100%; left: 60%; transition-duration: 5s;
                    }
                    &[data-index="6"] {
                        top: 100%; left: 20%; transition-duration: 6s;
                    }
                }
            }
        }
        .video {
            width: 100%; height: 80%;
            position: absolute; top: 10%; left: 0px;
            transition: 1s;
            opacity: 0;
            z-index: -1;

            iframe {
                width: 100%; height: 100%;
            }
            .closeBtn {
                width: 40px; height: 40px;
                position: absolute; top: -40px; right: 0px;
                font-size: 40px; background: lightblue;
                color: orangered;
                display: flex; justify-content: center; align-items: center;
                cursor: pointer;
            }
        }
    }
}

#news {
    width: 100%; overflow: hidden;

    .inner {
        width: 1180px;
        margin: 0px auto; padding: 100px 0px;
        
        .wrap {
            width: 100%;
            
            article {
                width: 280px; float: left; margin-right: 20px;
                transition: all 0.5s; position: relative; overflow: hidden;
                transform: translateY(500px); opacity: 0; transition: 1s;

                &.on {
                    transform: translateY(0px); opacity: 1;
                }
                &:last-of-type {
                    margin-right: 0px;
                }
                &::after {
                    content: ''; display: block;
                    margin-left: 50%; margin-top: 20px;
                    width: 50px; height: 2px; background: orangered;
                    transition: all 0.5s; transform: translateX(-50%);
                }
                &:hover {
                    transform: scale(1.1);
                    
                    &:nth-of-type(1) {
                        i {
                            animation: rotate 2s linear infinite;
                        }
                    }
                    &:nth-of-type(2) {
                        position: relative;
                        .backWheel, .frontWheel {
                            animation: wheelAni 3.5s linear infinite;
                        }
                        i {
                            animation: moveRight 3.5s linear infinite;
                        }
                    }
                    &:nth-of-type(3) {
                        i {
                            animation: moveRightBottom 3s linear infinite;
                        }
                    }
                    &:nth-of-type(4) {
                        i {
                            animation: moveRightTop 3s linear infinite;
                        }
                    }
                    &::after {
                        width: 100%; margin-left: 0px;
                        transform: translateX(0%);
                    }
                }
                &:nth-of-type(2) {
                    .backWheel {
                        font: 12px/1 'arial'; color: orangered;
                        position: absolute; top: 18%; left: 40%;
                    }
                    .frontWheel {
                        font: 12px/1 'arial'; color: orangered;
                        position: absolute; top: 18%; left: 55.5%;
                    }
                }
                i {
                    font-size: 70px; display: flex; justify-content: center;
                    margin-bottom: 30px; color: orangered;
                }
                h2 {
                    font: bold 24px/1 'roboto'; color: #555; text-align: center;
                    margin-bottom: 20px;
                }
                p {
                    font: 16px/1.3 'open sans'; color: #777; text-align: center;
                }
            }
        }
    }
}

#fix_banner {
    width: 100%; background: url(../img/main/fix_banner/background.jpg) no-repeat center/cover fixed;

    .inner {
        width: 1180px; height: 600px; margin: 0px auto;
        position: relative;

        h2 {
            font: bold 70px/1 'roboto'; color: orangered;
            position: absolute; left: 50%; top: 20%;
            transform: translate(-50%);

            &::after {
                content: ''; display: block; width: 100px; height: 2px;
                background: orangered; margin-top: 20px;
                position: absolute; left: 50%; transform: translate(-50%);
            }
        }
        p {
            display: block; width: 1000px; height: 150px;
            font: 30px/150px 'open sans'; color: #fff;
            position: absolute; left: 50%; top: 40%;
            transform: translate(-50%);
            text-align: center;
        }
    }
}

#gallery {
    width: 100%;

    .inner {
        width: 1180px; margin: -150px auto 100px;
        background: #eee; padding: 30px;
        position: relative; padding-bottom: 120px;

        &::after {
            content: ''; display: block; width: 100%; height: 1px;
            position: absolute; bottom: 0px; left: 0px;
            background: #ccc;
        }
        .wrap {
            width: 100%;

            article {
                width: 550px; height: 500px; float: left;
                margin-right: 20px; margin-bottom: 20px;
                padding-bottom: 50px;
                border: 1px solid #ccc;

                &:nth-of-type(2n) {
                    margin-right: 0px;
                }
                .img {
                    width: 100%; height: 300px;
                    margin-bottom: 30px;

                    img {
                        width: 100%; height: 100%; object-fit: cover;
                    }
                }
                h2 {
                    font: 22px/1 'roboto'; color: #555;
                    margin-bottom: 20px;
                    padding: 0px 20px;
                }
                p {
                    font: 16px/1.5 'open sans'; color: #777;
                    padding: 0px 20px;
                }   
            }
            a {
                display: block; font: 18px/40px 'open sans'; color: #fff;
                text-align: center;
                width: 150px; height: 40px;
                background: orangered;
                position: absolute; bottom: 50px; left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

#sliders {
    width: 100%;

    .inner {
        width: 1180px; height: 100vh; margin: 0px auto;

        h2 {
            font: 24px/1 'roboto'; color: #555; text-align: center;
            margin-bottom: 60px;

            &::after {
                content: ''; display: block; width: 50px; height: 2px;
                background: orangered; position: absolute; left: 50%;
                margin: 30px 0px; transform: translate(-50%);
            }
        }
        p {
            font: 15px/1.3 'open sans'; color: #777; text-align: center;
            margin-bottom: 50px;
        }
        .wrap {
            width: 100%; height: 100%;

            .swiper-wrapper {
                width: 100%; height: 600px;

                div {
                    width: 100%; height: 100%; background: #000; 

                    img {
                        width: 100%; height: 100%; object-fit: cover;
                        opacity: 0.8;
                    }
                }
            }
            .swiper-button-prev {
                width: 40px; height: 30px; left: 0px;
                color: #fff;
            }
            .swiper-button-next {
                width: 40px; height: 30px; right: 0px;
                color: #fff;
            }
            .swiper-pagination-bullet {
                width: 10px; height: 10px; background: #fff; opacity: 1;
                margin-right: 15px;
            }
            .swiper-pagination-bullet-active {
                width: 15px; height: 15px; transition: all 0.5s;
            }
        }
    }
}

#basic_banner {
    width: 100%;
    background: url(../img/main/basic_banner/banner.jpg) no-repeat center/cover;

    .inner {
        width: 1180px; height: 700px; margin: 0px auto;
        padding: 100px 0px;
        position: relative;

        h2 {
            font: bold 80px/1 'roboto'; color: orangered;
            text-align: center; margin-bottom: 70px;

            &::after {
                content: ''; display: block; width: 100px; height: 2px;
                background: orangered; position: absolute;
                top: 210px; left: 50%; transform: translate(-50%);
            }
        }
        p {
            width: 50vw; position: absolute; left: 50%; transform: translate(-50%);
            font: 18px/1.8 'open sans'; color: #fff; text-align: center;
        }
        a {
            display: block; width: 200px; height: 50px; background: orangered;
            font: bold 22px/50px 'open sans'; color: #fff; text-align: center;
            position: absolute; bottom: 200px; left: 50%; transform: translate(-50%);
        }
    }
}

#information {
    width: 100%;

    .inner {
        width: 1180px; margin: 0px auto;

        .wrap {
            width: 800px; margin: -150px auto 100px;
            background: #eee; padding: 30px;

            article {
                width: 360px; height: 290px; float: left;
                border: 1px solid #000; margin-right: 20px; margin-bottom: 20px;
                
                &:nth-of-type(2n) {margin-right: 0px; margin-bottom: 0px;}

                h2 {
                    font: normal 16px/1 'open sans'; color: #000;
                    text-align: center; padding-top: 70px; margin-bottom: 30px;
                }
                p {
                    font: bold 100px/1 'roboto'; color: orangered;
                    text-align: center;
                }
            }
        }
    }
}

#footer {
    width: 100%; background: #000;

    .inner {
        width: 1180px; margin: 0px auto;
        padding: 0px 100px;
        position: relative;

        .wrap {
            width: 100%; height: 100%; padding: 0px 100px 30px;
            
            #footerLeftArea {
                float: left; padding-top: 50px;

                >h2 {
                    font: bold 25px/1 'roboto'; color: #bbb;
                    margin-bottom: 20px;
                }
                >ul {
                    >li {
                        float: left; margin-right: 10px;
                        position: relative; height: 20px;
                        padding-right: 10px;
                        margin-bottom: 20px;  

                        &:last-of-type {
                            margin-right: 0px;
                            padding-right: 0px;

                            &::after {
                                display: none;
                            }
                        }
                        &::after {
                            display: inline-block; content: '';
                            height: 12px; width: 1px; background: #777;
                            position: absolute; right: 0px; top: 50%;
                            margin-top: -5px;
                        }
                        >a {
                            font: 15px/1 'open sans'; color: #777;
                        }
                    }
                }
                >span {
                    font: 10px/1 'open sans'; color: #aaa;
                    height: 10px; margin-top: 20px;
                }
            }
            #footerRightArea {
                float: right;
                padding-top: 30px;
                
                ul {
                    display: flex; align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    li {
                        margin-right: 20px;
                        padding: 10px;
                        border: 1px solid #777;
                        border-radius: 50%;

                        &:last-of-type {margin-right: 0px;}
                        a {
                            i {
                                font-size: 30px; color: #fff;
                            }
                        }
                    }
                }
                address {
                    font: 12px/1.3 'arial'; color: #777;
                }
            }
        }
    }
}

#upBtn {
    display: block; width: 50px; height: 50px;
    position: fixed; bottom: 30px; right: 30px;
    border: 3px solid orangered; padding: 10px;
    border-radius: 50%; transition: all 1s;
    opacity: 0;

     &::before {
        content: ''; display: block; width: 3px; height: 25px;
        background: orangered; transform: rotate(30deg);
        position: absolute; top: 8px; left: 14px;
        border: 1px solid orangered; border-radius: 2px;
     }
     &::after {
        content: ''; display: block; width: 3px; height: 25px;
        background: orangered; transform: rotate(-30deg);
        position: absolute; top: 8px; right: 14px;
        border: 1px solid orangered; border-radius: 2px;
     }
}

// 낮은 해상도 PC & 태블릿 가로
@media screen and (max-width: 1179px) {    
    #header {    
        .inner {
            width: 100%; height: 80px;
            padding: 0px 50px;
            
            .menuWeb {
                display: none;
            }
            .callBtn {
                display: block;
            }

            h1 {
                top: 5%; padding-top: 10px;
            }

            #gnb {
                right: 0%;
    
                li {
                    a {
                        width: 100px;
                    }
                }
            }
            .util {
                top: 25px; right: 10px;
            }
        }
    }
    
    #visual {
        .inner {
            width: 100%; padding: 50px 50px;

            h3 {
                font-size: 70px;
            }
            .wrap {
                img {
                    &:nth-of-type(1) {
                        width: 100%; height: 100%;
                        top: 0px; left: 0px;
                    }
                    &:nth-of-type(3) {
                        width: 300px; height: 300px; left: 0%;
                    }
                }
            }
        }
    }
    
    #news {
        .inner {
            width: 100%; padding: 100px 50px;
            
            .wrap {                
                article {
                    width: 22%; float: left; margin-right: 4%;
                    
                    &:nth-of-type(2) {
                        .backWheel {
                            display: none;
                        }
                        .frontWheel {
                            display: none;
                        }
                    }

                    &::after {
                        margin-left: 50%; transform: translateX(-50%);
                    }
                }
            }
        }
    }
    
    #fix_banner {
        .inner {
            width: 100%;
    
            h2 {
                font: bold 50px/1 'roboto'; color: orangered;
                position: absolute; left: 50%; top: 20%;
                transform: translate(-50%);
    
                &::after {
                    content: ''; display: block; width: 100px; height: 2px;
                    background: orangered; margin-top: 20px;
                    position: absolute; left: 50%; transform: translate(-50%);
                }
            }
            p {
                display: block; width: 100%; height: 150px;
                font: 30px/150px 'open sans'; color: #fff;
                position: absolute; left: 50%; top: 30%;
                transform: translate(-50%);
                text-align: center;
            }
        }
    }
    
    #gallery {
        .inner {
            width: 100%;
    
            .wrap {
                padding: 50px 50px 150px 50px; margin: -150px auto; background: #fff;
                article {
                    width: 49%; height: 500px; float: left;
                    margin-right: 2%;

                    .img {
                        width: 100%; height: 300px;
                        margin-bottom: 30px;
    
                        img {
                            width: 100%; height: 100%; object-fit: cover;
                        }
                    }
                    h2 {
                        font: 22px/1 'roboto'; color: #555;
                        margin-bottom: 20px;
                        padding: 0px 20px;
                    }
                    p {
                        font: 16px/1.5 'open sans'; color: #777;
                        padding: 0px 20px;
                    }   
                }
                a {
                    display: block; font: 18px/40px 'open sans'; color: #fff;
                    text-align: center;
                    width: 150px; height: 40px;
                    background: orangered;
                    position: absolute; bottom: 50px; left: 50%;
                    transform: translate(-50%);
                }
            }
        }
    }
    
    #sliders {    
        .inner {
            width: 100%;
        }
    }
    
    #basic_banner {    
        .inner {
            width: 100%;
    
            h2 {
                font: bold 50px/1 'roboto'; color: orangered;
                text-align: center; margin-bottom: 70px;
    
                &::after {
                    top: 180px;
                }
            }
            p {
                font: 14px/2.0 'open sans';
            }
        }
    }
    
    #information {
        .inner {
            width: 100%;
    
            .wrap {
                width: 80%;
    
                article {
                    width: 49%; height: 250px;
                    margin-right: 2%; margin-bottom: 20px;
                    
                    &:nth-of-type(2n) {margin-right: 0px; margin-bottom: 20px;}
    
                    h2 {
                        font: normal 16px/1 'open sans'; color: #000;
                        text-align: center; padding-top: 50px; margin-bottom: 30px;
                    }
                    p {
                        font: bold 100px/1 'roboto'; color: orangered;
                        text-align: center;
                    }
                }
            }
        }
    }
    
    #footer {    
        .inner {
            width: 100%; padding: 0px;
    
            .wrap {
                #footerLeftArea {
                    float: left; padding-top: 50px;
    
                    >h2 {
                        font: bold 25px/1 'roboto'; color: #bbb;
                        margin-bottom: 20px;
                    }
                    >ul {
                        >li {
                            float: left; margin-right: 10px;
                            position: relative; height: 20px;
                            padding-right: 10px;
                            margin-bottom: 20px;  
    
                            &:last-of-type {
                                margin-right: 0px;
                                padding-right: 0px;
    
                                &::after {
                                    display: none;
                                }
                            }
                            &::after {
                                display: inline-block; content: '';
                                height: 12px; width: 1px; background: #777;
                                position: absolute; right: 0px; top: 50%;
                                margin-top: -5px;
                            }
                            >a {
                                font: 15px/1 'open sans'; color: #777;
                            }
                        }
                    }
                    >span {
                        font: 10px/1 'open sans'; color: #aaa;
                        height: 10px; margin-top: 20px;
                    }
                }
                #footerRightArea {
                    float: right;
                    padding-top: 30px;
                    
                    ul {
                        display: flex; align-items: center;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        li {
                            margin-right: 20px;
                            padding: 10px;
                            border: 1px solid #777;
                            border-radius: 50%;
    
                            &:last-of-type {margin-right: 0px;}
                            a {
                                i {
                                    font-size: 20px; color: #fff;
                                }
                            }
                        }
                    }
                    address {
                        font: 12px/1.3 'arial'; color: #777;
                    }
                }
            }
        }
    }
}

// 태블릿 세로 & 모바일 가로
@media screen and (max-width: 768px) {
    // #header {
        
    // }
    
    #visual {
        .inner {    
            h2 {
                font: 18px/1 'roboto';
            }
            h3 {
                font: bold 80px/1 'open sans';
            }
            a {
                display: block; top: 55%;
            }
            .wrap {
                img {
                    &:nth-of-type(3) {
                        width: 200px; height: 200px;
                    }
                }
            }
        }
    }
    
    #news {
        .inner {
            padding-top: 50px;

            .wrap {                
                article {
                    width: 49%; margin-right: 2%;
                    margin-bottom: 50px;

                    &:nth-of-type(2n) {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
    
    #fix_banner {    
        .inner {
            width: 100%; 

            h2 {
                width: 100%; text-align: center;
                font: bold 50px/1 'roboto';
            }
            p {
                font: 16px/150px 'open sans'; top: 30%;
            }
        }
    }
    
    #gallery {
        .inner {
            width: 100%;
            background: #fff; padding: 30px;
            padding-bottom: 120px;
    
            &::after {
                content: ''; display: block; width: 100%; height: 1px;
                position: absolute; bottom: 0px; left: 0px;
                background: #ccc;
            }
            .wrap {    
                article {
                    width: 100%; height: 400px;
                    margin-right: 0px;

                    .img {
                        height: 200px;
                    }
                }
            }
        }
    }
    
    #sliders {    
        .inner {
            p {
                font: 14px/1.3 'open sans';
            }
        }
    }
    
    #basic_banner {
        .inner {
            width: 100%; height: 500px; margin: 0px auto;
            padding: 50px 0px;
            position: relative;
    
            h2 {
                width: 100%;
                font: bold 50px/1 'roboto';

                &::after {
                    top: 130px;
                }
            }
            p {
                width: 90%;
                font: 12px/2.0 'open sans'; color: #fff;
            }
            a {
                width: 150px; height: 40px;
                font: bold 18px/40px 'open sans';
                bottom: 100px;
            }
        }
    }
    
    #information {    
        .inner {
            .wrap {
                margin: -60px auto 30px;
    
                article {
                    width: 49%; height: 200px; margin-right: 2%;
                    position: relative;
                    
                    &:nth-of-type(2n) {margin-right: 0px; margin-bottom: 20px;}
    
                    h2 {
                        font: normal 18px/1 'open sans'; padding-top: 30px;
                    }
                    p {
                        font: bold 80px/1 'roboto';
                        position: absolute; left: 50%; bottom: 15%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
    
    #footer {
        .inner {
            .wrap {
                padding: 0px 10px 10px 10px;

                #footerLeftArea {
                    width: 49%; margin-right: 2%;
                    >h2 {
                        font: bold 22px/1 'roboto';
                    }
                    >ul {
                        justify-content: space-evenly;
                        >li {
                            >a {
                                font: 15px/1 'open sans';
                            }
                        }
                        span {
                            font: 12px/1 'arial';
                        }
                    }
                }
                #footerRightArea {
                    width: 49%;
                    address {
                        font: 11px/1.3 'arial'; color: #777;
                    }
                }
            }
        }
    }
    #upBtn {
        bottom: 0px; right: 10px;
    }
}

// 모바일 세로
@media screen and (max-width: 480px) {
    #visual {
        .inner {    
            h2 {
                font: 18px/1 'roboto';
            }
            h3 {
                font: bold 80px/1 'open sans';
            }
            a {
                display: block; top: 55%;
            }
            .wrap {
                img {
                    &:nth-of-type(3) {
                        width: 200px; height: 200px;
                    }
                }
            }
        }
    }
    
    #news {
        .inner {
            padding-top: 50px;

            .wrap {                
                article {
                    width: 49%; margin-right: 2%;
                    margin-bottom: 50px;

                    &:nth-of-type(2n) {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
    
    #fix_banner {    
        .inner {
            width: 100%; 

            h2 {
                width: 100%; text-align: center;
                font: bold 50px/1 'roboto';
            }
            p {
                font: 16px/150px 'open sans'; top: 30%;
            }
        }
    }
    
    #gallery {
        .inner {
            width: 100%;
            background: #fff; padding: 30px;
            padding-bottom: 120px;
    
            &::after {
                content: ''; display: block; width: 100%; height: 1px;
                position: absolute; bottom: 0px; left: 0px;
                background: #ccc;
            }
            .wrap {    
                article {
                    width: 100%; height: 400px;
                    margin-right: 0px;

                    .img {
                        height: 200px;
                    }
                }
            }
        }
    }
    
    #sliders {    
        .inner {
            p {
                font: 14px/1.3 'open sans';
            }
        }
    }
    
    #basic_banner {
        .inner {
            width: 100%; height: 500px; margin: 0px auto;
            padding: 50px 0px;
            position: relative;
    
            h2 {
                width: 100%;
                font: bold 50px/1 'roboto';

                &::after {
                    top: 130px;
                }
            }
            p {
                width: 90%;
                font: 12px/2.0 'open sans'; color: #fff;
            }
            a {
                width: 150px; height: 40px;
                font: bold 18px/40px 'open sans';
                bottom: 100px;
            }
        }
    }
    
    #information {    
        .inner {    
            .wrap {
                margin: -100px auto 50px;
    
                article {
                    width: 49%; height: 200px; margin-right: 2%;
                    
                    &:nth-of-type(2n) {margin-right: 0px; margin-bottom: 20px;}
    
                    h2 {
                        font: normal 18px/1 'open sans'; padding-top: 30px;
                    }
                    p {
                        font: bold 80px/1 'roboto';
                    }
                }
            }
        }
    }
    
    #footer {
        .inner {
            .wrap {                
                #footerLeftArea {    
                    >h2 {
                        font: bold 22px/1 'roboto';
                    }
                    >ul {
                        >li {
                            >a {
                                font: 14px/1 'open sans';
                            }
                        }
                    }
                }
                #footerRightArea {
                    address {
                        font: 11px/1.3 'arial'; color: #777;
                    }
                }
            }
        }
    }

    #upBtn {
        bottom: 0px; right: 10px;
    }
}