.department {
    .wrap {
        width: 100%;
        padding: 80px 50px 0px;
        background: #fff;
        border-radius: 10px;

        article {
            width: calc(96%/3); height: 380px;
            float: left; margin-right: 2%;
            position: relative;
            margin-bottom: 80px;
            transition: 0.5s;
            border-bottom: 1px solid #ddd;
            background: #eee;

            // 255, 69, 0
            &:nth-of-type(3n) {border-right: none; margin-right: 0px;}
            &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(5) {margin-bottom: 0px;}
            &:hover {
                background: rgba(0, 0, 0, 0.5);
                .memberImg {filter: brightness(10%);}
                h2 {color: #eee;}
                a {opacity: 1;}
                p {color: #eee;}
            }

            .memberImg {
                width: 250px; height: 250px; margin: -50px auto 0px;
                overflow: hidden; transition: 0.5s;
                
                border-radius: 50%;

                filter: brightness(90%);

                img {
                    width: 100%; height: 100%; object-fit: cover;
                    object-position: top;
                }
            }
            h2 {
                font: bold 35px/1 'open sans'; color: #333;
                text-align: center; margin-top: 30px;
                transition: 0.5s;
            }
            p {
                font: 20px/1 'open sans'; color: #555;
                text-align: center; margin-top: 30px;
            }
            a {
                display: block; width: 100%; height: 100%;
                background: transparent; text-align: center;
                font: bold 50px/400px 'roboto'; color: orangered;
                position: absolute; top: 40%; left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.5s; opacity: 0;
            }
        }
    }
}

aside {
    width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.6);
    position: fixed; top: 0px; left: 0px; padding: 5vw;

    div {
        width: 50%; height: 600px; border-radius: 5px;
        background: #fff; position: absolute; top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        padding: 1vw;

        img {
            width: 49%; height: 100%; object-fit: cover;
            border-radius: 5px;
            float: left; margin-right: 2%;
        }
        h2 {
            width: 49%; height: 30%;
            font: bold 50px/1 'roboto'; color: #444;
            text-align: center;
            float: right;
            margin-top: 50px;
        }
        p {
            width: 49%; height: 50%;
            font: 18px/1.4 'open sans'; color: #777;
            float: right;
        }
        span {
            position: absolute; top: 0px; right: -5px;
            width: 50px; height: 50px;
            cursor: pointer;

            i {
                font-size: 50px; color: orangered;
            }
        }
    }
}